*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

/* NAVBAR */
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
    padding: 13px 5%;
    box-shadow: 0px 2px rgba(0,0,0,0.05);
    
}
.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navlinks li a{
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 15px;
    transition: all 0.3s ease;
}
#home{
    color: #016156;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
}
.name{
   /* margin-right: 600px; */
   font-size: 35px;
   color: #00695c;
   cursor: pointer;
}
.navbutton button{
    background-color: #03897a;
    padding: 10px 25px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3 ease;
}
.navlinks li a:hover{
    color: #00695c;
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 3px;
}
.navbutton button:hover{
    background-color: #016156;
}

/* Hero-Section */
.herosection{
    margin-top: 63px;
    height: 85vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('download.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.herocontent h1{
    color: white;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}
.herocontent p{
    color: white;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0;
    text-align: center;
}



.featuresection{
    background-color:#f8f9fa ;
    padding: 80px 20px;
    text-align: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.cardstyle{
    background-color: white;
    width: 400px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cardstyle:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.icon{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #e0f2f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 25px auto;
}
.icon i{
    color: #00695c;
    font-size: 28px;
}
.cardstyle h3{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 15px;
}
.cardstyle p{
    color: #666;
    line-height: 1.6;
}
.featuresection h2{
    margin-bottom: 60px;
    font-size: 50px;
}

