
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, sans-serif;
    background-color: rgb(240, 243, 246); 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.login-card {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
}


.logo-text {
    color: rgb(0, 148, 135); 
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.login-card h2 {
    color: rgb(13, 17, 23);
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.subtitle {
    color: rgb(108, 121, 139); 
    font-size: 0.95rem;
    margin-bottom: 30px;
}


.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: rgb(13, 17, 23);
    font-size: 0.9rem;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(227, 233, 240);
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: 0.2s;
}

.input-group input:focus {
    border-color: rgb(0, 148, 135); 
    box-shadow: 0 0 0 3px rgba(0, 148, 135, 0.1);
}


.form-actions {
    text-align: right;
    margin-bottom: 25px;
}

.forgot-pass {
    color: rgb(0, 148, 135);
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 600;
}

.forgot-pass:hover {
    text-decoration: underline;
}


.login-btn {
    width: 100%;
    padding: 12px;
    background-color: rgb(0, 148, 135);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-btn:hover {
    background-color: rgb(0, 112, 102);
}


.bottom-text {
    margin-top: 25px;
    font-size: 0.95rem;
    color: rgb(108, 121, 139);
}

.signup-link {
    color: rgb(0, 148, 135);
    text-decoration: none;
    font-weight: 700;
}

.signup-link:hover {
    text-decoration: underline;
}